body {
	color: black;
	background-color: grey;
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	font-family: "Brush script";
}
h1 {
	margin: 0;
}
header {
	margin: 0;
	color: white;
	background-color: black;
	border-bottom: 10px;
	border-bottom-style: solid;
	border-color: lightgrey;
	padding: 30px;
	height: 5vw;
}
a {
	color: inherit;
	background-color: inherit;
  text-decoration: inherit;
}
.headImage {
	height: 100%;
	filter: invert(1);
	margin-top: 0px;
}
#headGraphics {
	width: 90%;
	height: 100%;
	margin: auto;
}
#headImageOne {
	float: left;
}
#headImageTwo {
	float: right;
}
#headText {
	max-width: 80%;
	position: relative;
	font-size: 1.5vw;
	left: 1%;
	top: 40%;
}
#sideBar {
	overflow-y: scroll;
	float: left;
	position: absolute;
}
#welcomeText {
	margin: auto;
  text-align: center;
	padding-bottom: 1vw;
}
#mainNavBody {
	padding-top: 5vh;
	width: 90%;
	margin: auto;
	font-size: 1vw
}
.mainNavButton {
	float: left;
	width: 100%;
	text-align: center;
	background-color: rgb(150,150,150);
	margin: 1vh;
	padding: 0.3vh;
	border: lightgrey;
	border-width: 3px;
	border-style: solid;
	font-family: georgia, sans-seriff;
}
.mainNavButton:hover {
	background-color: rgb(100,100,100)
}
.RDLink {
	font-family: 'Courier New', Courier, monospace;
	border: solid;
	padding: 0.5vh;
	width: 90%;
	margin: 30px;
}
.RDLink:hover {
	background-color: rgb(100,100,100)
}
#RDRSp {
	width: 50%;
}
#RDRSu {
	width: 50%;
}